<!doctype html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"> -->
        <link rel="stylesheet" href="css/vendor/angular-material.min.css" />
        <link href="css/vendor/xeditable.css" rel="stylesheet">
            <!-- <link href="css/animation.css" rel="stylesheet"> -->
            <link rel="stylesheet" href='css/vendor/textAngular.css'/>
            <style type="text/css">input               {
  padding:5px 10px 5px 10px;
  display:block;
  border:none;
  border-bottom:1px solid #cacaca;
}
input:focus         { outline:none; }
.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.5;
    background: #000;
    text-align: center;
    vertical-align: center;
}
.glow{
    background: rgba(63, 81, 181, 0.14);
}
hp-card, .hp-card {
    width: 500px;
}
hp-card img{
    display: block;
    margin: 0 auto;
}
.thumbnail {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    margin-right: 16px;
    box-sizing: content-box;
}
.dotted{
    border-style: dashed;
    border-color: #eaeaea;
}

.tabbed-settings md-content, .tabbed-settings md-datepicker{
    background: #E0E6EB;
}
    </style>
        </head>
        <body layout="column" ng-app="myApp" ng-controller="SimpleController" ng-cloak layout-fill>
            <div class="mask" layout="row" layout-wrap layout-align="center center" ng-show="showMaskingProgress">
                <md-progress-circular class="md-hue-5" md-mode="indeterminate" md-diameter="90"></md-progress-circular>
            </div>
            <md-toolbar md-padding layout="row" class="md-whiteframe-z2" layout-padding>
                <h5>Angular Material - Starter App</h5>
            </md-toolbar>
            <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column" flex>
                <div class="md-padding" layout="row" layout-wrap layout-align="center start">
                    <md-card class="hp-card">
                        <md-card-content layout-padding>
                            <div layout="column">
                                <form name="newCardForm">
                                    <md-input-container class="md-block">
                                        <input name="newCardURL" ng-model="newCardURL" type="url" placeholder="Create card here....." required/>
                                        <div ng-show="newCardForm.newCardURL.$error.url">
                                            <div ng-message="required">* URL required</div>
                                        </div>
                                    </md-input-container>
                                </form>
                            </div>
                            <md-progress-linear md-mode="indeterminate" ng-show="newCardProcessing"></md-progress-linear>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-switch class="md-primary" md-no-ink ng-model="publishedOnlySwitch" ng-init="publishedOnlySwitch=true">Published</md-switch>    
                            <md-button class="md-raised md-primary" ng-disabled="newCardForm.newCardURL.$error.required || newCardForm.newCardURL.$error.url || newCardProcessing" ng-click="newButton()">Create</md-button>
                        </md-card-actions>
                    </md-card>
                </div>

                <div class='md-padding' layout="row" layout-wrap layout-align="center start" ng-repeat="card in cards | filter:filterCards">
                    <hp-card card="card" ng-class='{notPublished: !card.meta.published}' type="{{card.type}}" delete-card="deleteCard($index)" save-card="saveCard($index)"></hp-card>
                </div>
            </md-content>
            <!-- Angular Material requires Angular.js Libraries -->
            <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
            <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script> -->
            <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script> -->
            <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script> -->
            <!-- Angular Material Library -->
            <!-- <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script> -->
            <!-- <script src="//code.jquery.com/jquery-1.12.0.min.js"></script> -->
            <script src="scripts/vendor/angular.min.js"></script>
            <script src="scripts/vendor/angular-animate.min.js"></script>
            <script src="scripts/vendor/angular-aria.min.js"></script>
            <!-- <script src="scripts/vendor/angular-messages.min.js"></script> -->
            <script src="scripts/vendor/angular-material.min.js"></script>
            <script src="scripts/vendor/xeditable.min.js"></script>
            <script src='scripts/vendor/textAngular-sanitize.min.js'></script>
            <script src='scripts/vendor/textAngular.min.js'></script>
            <script src='scripts/vendor/textAngular-rangy.min.js'></script>
            <script src="scripts/vendor/ng-file-upload.js"></script>
            <script type="text/javascript" src="scripts/app.js"></script>
            <script type="text/javascript" src="http://hamropatro-mausam-test.appspot.com/cms/src/posts/fileselect.js"></script>
            <script src="scripts/vendor/angular-image-spinner.js"></script>
        </body>
    </html>