<md-card>
    <md-card-header>
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img class="thumbnail md-whiteframe-z1" src="http://1.gravatar.com/avatar/a11ed7e9f44c3bb20aadf4185a245aaf?s=150&d=mm&r=g" />
            </div>
        </md-card-title-media>
        <md-card-header-text>
            <span class="md-title">
                <input type="text" ng-model="card.title" ng-show="card.blockEdit"/>
                <span type="text" ng-show="!card.blockEdit">{{card.title}}</span>
            </span>
            <span class="md-subhead">
                <input type="text" ng-model="card.description" ng-show="card.blockEdit"/>
                <span type="text" ng-show="!card.blockEdit">{{card.description}}</span>
            </span>
        </md-card-header-text>
        <md-menu layout-align="right end" md-position-mode="target-right target">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                <md-icon md-svg-icon="menu:more"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="card.blockEdit = !card.blockEdit">Edit Card</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="card.type = 'summary_large_image'">Summary_Large_Image</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="card.type = 'gallery_card'">Gallary_Card</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="card.type = 'summary_card'">Summary_Card</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>
    <md-card-content layout-padding layout-wrap>
        <div layout="column">
            <div layout="row">
                <img flex src="http://placehold.it/150x150" />
                <img flex src="http://placehold.it/150x150" />
            </div>
            <div layout="row">
                <img flex src="http://placehold.it/150x150" />
                <img flex src="http://placehold.it/150x150" />
            </div>
        </div>
    </md-card-content>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Enigma to include LaraCroft in app page</span>
            <span class="md-subhead">Just announced to release new ways to show LaraCroft in application</span>
        </md-card-title-text>
        <span></span>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">View on Web</md-button>
    </md-card-actions>
</md-card>