<md-card>
<div ng-class="{dotted : card.blockEdit}">
    <md-card-header>
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img class="thumbnail md-whiteframe-z1" src="http://1.gravatar.com/avatar/a11ed7e9f44c3bb20aadf4185a245aaf?s=150&d=mm&r=g" />
            </div>
        </md-card-title-media>
        <md-card-header-text>
            <span class="md-title">
                <a href="#" editable-text="card.title" buttons="no" ng-show="card.blockEdit">{{ card.title || 'Card Title' }}</a>
                <span type="text" ng-show="!card.blockEdit">{{card.title}}</span>
            </span>
            <span class="md-subhead">
                <a href="#" editable-text="card.site" buttons="no" ng-show="card.blockEdit">{{ card.site || 'Site Name' }}</a>
                <span type="text" ng-show="!card.blockEdit">{{card.site}}</span>
            </span>
        </md-card-header-text>
        <div ng-include src="'views/cards/cardOptionsMenu.html'"></div>
    </md-card-header>
    <md-card-content layout-padding layout-wrap>
        <div layout="column">
            <div layout="row">
                <img flex src="http://placehold.it/150x150" />
                <img flex src="http://placehold.it/150x150" />
            </div>
            <div layout="row">
                <img flex src="http://placehold.it/150x150" />
                <img flex src="http://placehold.it/150x150" />
            </div>
        </div>
    </md-card-content>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">
                <a href="#" editable-text="card.title" buttons="no" ng-show="card.blockEdit">{{ card.title || 'Card Title' }}</a>
                <span type="text" ng-show="!card.blockEdit">{{card.title}}</span>
            </span>
            <span class="md-subhead">
                <a href="#" editable-text="card.description" buttons="no" ng-show="card.blockEdit">{{ card.description || 'Description' }}</a>
                <span type="text" ng-show="!card.blockEdit">{{card.description}}</span>
            </span>
        </md-card-title-text>
        <span></span>
    </md-card-title>
    <div ng-include src="'views/cards/cardCallToAction.html'"></div>
    </div>
    <div class="editActionBlock" ng-show="card.blockEdit" ng-include src="'views/cards/cardEditOptionsBottomSheet.html'"></div>
</md-card>