<md-card>
    <md-card-header>
        <md-card-title-media style="margin-right:30px;">
            <div class="md-media-lg card-media">
                <img src="http://placehold.it/50x50" />
            </div>
        </md-card-title-media>
        <md-card-header-text>
            <span class="md-title">
                <input type="text" />
            </span>
            <span class="md-subhead">{{card}} Second Card</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">HamroPatro to include LaraCroft in app page</span>
            <span class="md-subhead">Just announced to release new ways to show LaraCroft in application</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img src="http://placehold.it/150x150" />
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">View on Web</md-button>
    </md-card-actions>
</md-card>