<md-menu layout-align="right end" md-position-mode="target-right target">
    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
        <md-icon md-svg-icon="menu:more"></md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <md-button ng-click="enableEdit(card, $event)">Edit Card</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="card.type = 'summary_large_image'">Summary_Large_Image</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="card.type = 'gallery_card'">Gallary_Card</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="card.type = 'summary_card'">Summary_Card</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>