<div ng-cloak class="tabbed-settings">
    <md-content>
        <md-tabs class="md-primary" md-dynamic-height md-border-bottom>
            <md-tab label="Basic">
                <md-content class="md-padding">
                    <md-input-container>
                        <label>Publish</label>
                        <md-select ng-model="card.meta.published">
                            <md-option value="true">Yes</md-option>
                            <md-option value="false">No</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Card Type</label>
                        <md-select ng-model="card.type">
                            <md-option value="{{type}}" ng-repeat="type in cardTypes">{{type}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Date">
                <md-content class="md-padding" style="padding-bottom: 100px;">
                    <md-switch md-no-ink ng-model="dateOptionsEnabled" ng-init="dateOptionsEnabled=!(card.meta.startTime==undefined)" ng-change="onDateToggle(dateOptionsEnabled)">Enable Date</md-switch>
                    <div layout="row" flex>
                        <div>
                            <h4>Start Date</h4>
                            <md-datepicker md-padding ng-disabled="!dateOptionsEnabled" ng-model="card.startTimeCompat" ng-change="card.meta.startTime=card.startTimeCompat.getTime()" md-placeholder="Start Date"></md-datepicker>
                        </div>
                        <div>
                            <h4>End Date</h4>
                            <md-datepicker md-padding ng-disabled="!dateOptionsEnabled" ng-model="card.endTimeCompat" ng-change="card.meta.endTime=card.endTimeCompat.getTime()" md-placeholder="End Date"></md-datepicker>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="three">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
<div class="md-whiteframe-z1" layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
    <md-button class="md-raised" ng-click="cancelEdit()">Cancel</md-button>
</div>