<md-card>
    <md-card-header>
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img class="thumbnail md-whiteframe-z1" src="http://1.gravatar.com/avatar/a11ed7e9f44c3bb20aadf4185a245aaf?s=150&d=mm&r=g" />
            </div>
        </md-card-title-media>
        <md-card-header-text>
            <span class="md-title">
                <input type="text" />
            </span>
            <span class="md-subhead">{{card}} ash;dlfah</span>
        </md-card-header-text>
    </md-card-header>
    <img ng-src="images/2.jpg" />
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Enigma to include LaraCroft in app page</span>
            <span class="md-subhead">Just announchhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh h h h hh hhhhhhhhhhhh hhhhhhhhhhhhh hhhhhhhhhhhhhhhhhhhhhhh hhhhhhhhhhhhhed to release new ways to show LaraCroft in application</span>
        </md-card-title-text>
        <span></span>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">View on Web</md-button>
    </md-card-actions>
</md-card>